<section class="wrapper__details">
  @for (column of this.columns; track column) {
    <div
      class="entity-table-row-detail-layout"
      >
      <h4>{{ column.name | translate}}:</h4>
      <div
        class="entity-table-row-detail-value-layout"
        >
        @if (column?.widget?.component) {
          <!-- the internal development record: the widget menu on the helm dropdown-menu (M1). -->
          <mat-icon
            class="widget-icon"
            [hlmDropdownMenuTrigger]="widget"
            role="button"
            tabindex="0"
            aria-hidden="false"
            [attr.aria-label]="column.name | translate"
          >{{ column.widget.icon }}</mat-icon>
          <ng-template #widget>
            <hlm-dropdown-menu class="widget-menu">
              <!-- column widgets need to be registered with this switch case -->
              @switch (column.widget.component) {
                @case ('TaskScheduleListComponent') {
                  <app-task-schedule-list
                    [value]="getPropValue(column.prop)"
                    [config]="config"
                    [parent]="parent"
                  ></app-task-schedule-list>
                }
              }
            </hlm-dropdown-menu>
          </ng-template>
          <p>{{ getPropValue(column.prop, true) }}</p>
        } @else {
          <p [attr.title]="column.detailTooltip ? column.detailTooltip(config) : null">{{ getPropValue(column.prop) }}</p>
        }
      </div>
    </div>
  }
</section>

<hlm-separator class="details-separator" />

@if (parent.hasActions) {
  <div
    class="wrapper__action-buttons entity-table-row-actions-layout"
    >
    @for (action of actions; track action) {
      @if (!parent.conf.isActionVisible || parent.conf.isActionVisible.bind(parent.conf)(action.id, this.config)) {
        <button
          hlmBtn variant="ghost" type="button" class="row-action"
          [disabled]="action.disabled"
          id="action_button_{{ action?.name }}__{{action.id}}"
          [ix-auto]="config.name"
          ix-auto-type="button"
          ix-auto-identifier="{{ $safeNavigationMigration(action?.name) | uppercase }}_{{action.id}}"
          (click)="action.onClick(this.config)"
          >
          <div
            class="entity-table-row-action-layout"
            >
            <mat-icon>{{ action.icon }}</mat-icon>
            <p
              [hlmTooltip]="action.matTooltip"
              [tooltipDisabled]="!action.disabled"
              [position]="action.ttposition ? action.ttposition : 'bottom'"
            >{{ action.label | translate}}</p>
          </div>
        </button>
      }
    }
  </div>
}
