<!-- the internal development record: the menu on the helm dropdown-menu (M1) -- the ghost trigger with the caret (the Reporting bar is the text tier). -->
<div class="toolbar-menu">
  <div>
    <button hlmBtn variant="ghost" type="button" [hlmDropdownMenuTrigger]="menu" class="menu-toggle" id="toolbar-menu__{{config.name}}"
      [disabled]="config.disabled">
      <span>{{config.label | translate}} <mat-icon class="menu-caret" aria-hidden="true">expand_more</mat-icon></span>
    </button>
    <ng-template #menu>
      <hlm-dropdown-menu>
        @for (option of config.options; track option) {
          <button hlmDropdownMenuItem type="button" (triggered)="onClick(option);" id="toolbar-menu__{{config.name}}__{{option}}">
            <span>{{option}}</span>
          </button>
        }
      </hlm-dropdown-menu>
    </ng-template>
  </div>
</div>
