<div class="vdev-wrapper">
  <div class="vdev-actions" id="vdev__action-buttons">
    <!-- the internal development record: the #353 ghost icon buttons (32px, a 20px glyph); the ids are BDD hooks -->
    <button id="vdev__add-button" hlmBtn variant="ghost" size="icon" type="button" name="vdev_add-button" (click)="addSelectedDisks()" [disabled]="!manager.selected.length"><mat-icon class="arrow">arrow_forward</mat-icon></button>
    <button id="vdev__remove-button" hlmBtn variant="ghost" size="icon" type="button" name="vdev_remove-button" (click)="removeSelectedDisks()" [disabled]="!selected.length"><mat-icon class="arrow">arrow_back</mat-icon></button>
  </div>
  <div class="vdev-table">
    <ngx-datatable
      id="vdev__disk-table"
      #table
      class="material ml-1 mt-1 mb-1 mr-1 mat-box-shadow"
      [rows]="getDisks()"
      [headerHeight]="50"
      [rowHeight]="50"
      [footerHeight]="'auto'"
      [limit]="10"
      [selected] = "selected"
      [selectionType]="'checkbox'"
      [externalSorting]="true"
      (sort)='reorderEvent($event)'
      (select)='onSelect($event)'>
      <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow>
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          @for (detail of row.details; track detail) {
            <div style="padding-left:35px;">
              <strong>{{detail.label | translate}}:</strong> {{detail.value}}
            </div>
          }
        </ng-template>
      </ngx-datatable-row-detail>
      <ngx-datatable-column [width]="82" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
        <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
          <div class="headerCheckBox">
            <hlm-checkbox inputId="vdev__disk-table-checkall-{{group}}-{{index}}" [aria-label]="'Select All' | translate"
              [checked]="allRowsSelected" (checkedChange)="selectFn(!allRowsSelected)" />
          </div>
        </ng-template>

        <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-rowIndex="rowIndex" let-onCheckboxChangeFn="onCheckboxChangeFn">
          <div>
            <span class="checkbox-cell">
              <hlm-checkbox inputId="vdev__disks-{{disks[rowIndex] ? disks[rowIndex].devname : rowIndex}}" [aria-label]="disks[rowIndex] ? disks[rowIndex].devname : null"
                [checked]="isSelected" (checkedChange)="onCheckboxChangeFn($event)" />
            </span>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column
      [flexGrow]="1"
      [width]="35"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false">
    </ngx-datatable-column> -->
    <ngx-datatable-column
      [width]="165"
      name="{{'Disk' | translate}}"
    prop="devname"></ngx-datatable-column>
    <ngx-datatable-column
      [width]="100"
      name="{{'Type' | translate}}"
    prop="type"></ngx-datatable-column>
    <ngx-datatable-column
      [width]="120"
      name="{{'Capacity' | translate}}"
    prop="capacity"></ngx-datatable-column>
    <ngx-datatable-column
      [width]="50"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a
          href="javascript:void(0)"
          [class.datatable-icon-right]="!expanded"
          [class.datatable-icon-down]="expanded"
          title="Expand/Collapse Row"
          (click)="toggleExpandRow(row)">
        </a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <div class="vdev-wrapper">
    <div class="vdev-type">
      @if ((group === 'data' || group === 'log' || group === 'special' || group === 'dedup')) {
        <div class="datainfo">
          @if ((group === 'data' || group === 'log' || group === 'special' || group === 'dedup') && !vdev_type_disabled) {
            <!-- the internal development record: the vdev type on the kit select; one id per vdev (every vdev used to share one) -->
            <label class="cdk-visually-hidden" [for]="'vdev__option-menu-' + group + '-' + index">{{ 'Type' | translate }}</label>
            <hlm-select class="vdev-type-select" [(ngModel)]="type" (ngModelChange)="onTypeChange($event)" [itemToString]="typeLabel">
              <hlm-select-trigger [buttonId]="'vdev__option-menu-' + group + '-' + index">
                <hlm-select-value />
              </hlm-select-trigger>
              <hlm-select-content *hlmSelectPortal>
                <hlm-select-item value="stripe">{{"Stripe" | translate}}</hlm-select-item>
                @if (getDisks().length >= 2 && (group === 'data' || group === 'log' || group === 'special' || group === 'dedup')) {
                  <hlm-select-item value="mirror">{{"Mirror" | translate}}</hlm-select-item>
                }
                @if (getDisks().length >= 3 && group === 'data') {
                  <hlm-select-item value="raidz">{{"Raid-z" | translate}}</hlm-select-item>
                }
                @if (getDisks().length >= 4 && group === 'data') {
                  <hlm-select-item value="raidz2">{{"Raid-z2" | translate}}</hlm-select-item>
                }
                @if (getDisks().length >= 5 && group === 'data') {
                  <hlm-select-item value="raidz3">{{"Raid-z3" | translate}}</hlm-select-item>
                }
              </hlm-select-content>
            </hlm-select>
          }
          @if (group === 'data' && vdev_type_disabled) {
            <p>{{getType() | translate}}</p>
          }
          {{"Estimated raw capacity:" | translate}} {{size}}
          <tooltip class="vdevTooltip" [message]=vdev_type_tooltip></tooltip>
        </div>
      }
    </div>
    <div class="vdev-close">
      @if (removable) {
        <button id="vdev__close-button" hlmBtn variant="ghost" size="icon" type="button" [attr.aria-label]="'Remove' | translate" (click)="remove()" [disabled]="(group === 'data' && manager.vdevs['data'].length < 2)"><mat-icon aria-hidden="true">close</mat-icon></button>
      }
    </div>
  </div>
  @if (error) {
    <div [style.color]="'red'" [innerHTML]="error" class="datainfo"></div>
  }
</div>
</div>


