<div class="container-dualListBox">
  <div class="container-items" [style.minHeight]="minHeight" [style.maxHeight]="maxHeight"
    cdkDropList
    #userList="cdkDropList"
    [cdkDropListData]="availableItems.totalItems"
    [cdkDropListConnectedTo]="[memberList]"
    (cdkDropListDropped)="drop($event)"
    >
    @if (title1) {
      <div class="list-title">{{title1}}</div>
    }
    @for (item of availableItems.totalItems; track item) {
      <div cdkDrag
        class="draggable"
        (cdkDragStarted)="onDragStart($event)"
        [ngClass]="{ chosen: availableItems.isSelected(item,1) }"
        (mousedown)="availableItems.mouseDown(item, $event)"
        (mouseup)="availableItems.mouseUp(item, $event)">
        @if (templateItem) {
          <!-- the internal development record: the row mat-list + mat-list-item drew around a template item, as a plain row -->
          <div class="dual-list-row">
            <ng-container [ngTemplateOutlet]="templateItem" [ngTemplateOutletContext]="{ data: item}"></ng-container>
          </div>
        } @else {
          {{item.name}}
        }
      </div>
    }
  </div>
  <div class="container-buttons">
    <div class="" (click)="select()" [style.margin-bottom.px]="5">
      @if (templateArrowRight) {
        <div>
          <ng-container [ngTemplateOutlet]="templateArrowRight">
          </ng-container>
        </div>
      } @else {
        <button hlmBtn variant="outline" size="icon" type="button" class="dual-list-action-btn"> <mat-icon class="arrow">arrow_forward</mat-icon> </button>
      }
    </div>
    <div class="" (click)="return()">
      @if (templateArrowLeft) {
        <div>
          <ng-container [ngTemplateOutlet]="templateArrowLeft">
          </ng-container>
        </div>
      } @else {
        <button hlmBtn variant="outline" size="icon" type="button" class="dual-list-action-btn"> <mat-icon class="arrow">arrow_back</mat-icon> </button>
      }
    </div>
  </div>
  <div class="container-items" [style.minHeight]="minHeight" [style.maxHeight]="maxHeight"
    cdkDropList
    #memberList="cdkDropList"
    [cdkDropListData]="selectedItems.totalItems"
    [cdkDropListConnectedTo]="[userList]"
    (cdkDropListDropped)="drop($event)">
    @if (title2) {
      <div class="list-title">{{title2}}</div>
    }
    @for (item of selectedItems.totalItems; track item) {
      <div cdkDrag
        class="draggable"
        (cdkDragStarted)="onDragStart($event)"
        [ngClass]="{ chosen: selectedItems.isSelected(item,2) }"
        (mousedown)="selectedItems.mouseDown(item, $event)"
        (mouseup)="selectedItems.mouseUp(item, $event)">
        @if (templateItem) {
          <div class="dual-list-row">
            <ng-container [ngTemplateOutlet]="templateItem" [ngTemplateOutletContext]="{ data: item }"> </ng-container>
          </div>
        } @else {
          {{item.name}}
        }
      </div>
    }
  </div>
</div>
