<h2 mat-dialog-title>{{ title | translate }}</h2>
<div mat-dialog-content id="confirm-msg">
  <div class="message-content">
    <span [innerHTML]="message | translate"></span>
  </div>
  <div class="password-content">
    <!-- need to prevent browser autofill :/ -->
    <input name="DummyPassword" type="password" style="display: none" />
    <!-- the internal development record: the #392 field -- label row, the box with the eye as an addon inside
         its right end, the error line as the subscript. -->
    <hlm-field class="full-width" [forceInvalid]="!!errors">
      <label hlmFieldLabel for="rootpw">{{ placeholder | translate }}</label>
      <hlm-input-group>
        <input hlmInputGroupInput
          id="rootpw"
          [forceInvalid]="!!errors"
          [type]="inputType"
          [required]="true"
          autocomplete="new-password"
          ix-auto
          ix-auto-type="input"
          ix-auto-identifier="rootpw"
          [(ngModel)]="password"
          (keyup.enter)="password && submit()">
        <hlm-input-group-addon align="inline-end">
          <button hlmInputGroupButton size="icon-xs" type="button" class="toggle_pw" (click)="togglePW()"
            [attr.aria-label]="(showPassword ? 'Hide' : 'Show') | translate"
            ix-auto
            ix-auto-type="button"
            ix-auto-identifier="rootpw_toggle-pw">
            <i class="material-icons" aria-hidden="true">{{ showPassword ? 'visibility' : 'visibility_off' }}</i>
          </button>
        </hlm-input-group-addon>
      </hlm-input-group>
      <div class="field-subscript">
        @if (errors) {
          <p class="form-error-line" role="alert" [innerHTML]="errors | translate"></p>
        }
      </div>
    </hlm-field>
    <tooltip [header]="placeholder" [message]="tooltip"></tooltip>
  </div>
</div>

<div mat-dialog-actions>
  <span class="dialog-action-spacer"></span>
  @if (!hideCancel) {
    <button
      id="confirm-dialog__cancel-button"
      hlmBtn
      variant="outline"
      type="button"
      name="cancel_button"
      (click)="dialogRef.close(false)"
      ix-auto
      ix-auto-type="button"
      ix-auto-identifier="{{ cancelMsg | uppercase }}"
      >
      {{ cancelMsg | translate }}
    </button>
  }
  <button
    id="confirm-dialog__action-button"
    hlmBtn
    type="button"
    name="ok_button"
    [disabled]="isDisabled()"
    (click)="submit()"
    ix-auto
    ix-auto-type="button"
    ix-auto-identifier="{{ buttonMsg | uppercase }}"
    >
    {{ buttonMsg | translate }}
  </button>
</div>
