@if (isEnabled) {
  <div id="breadcrumb-bar" class="breadcrumb-bar">
    <ul class="breadcrumb">
      @for (part of routeParts; track part.url) {
        <li
          ix-auto ix-auto-type="option" ix-auto-identifier="{{part.breadcrumb}}">
          @if (!part.disabled) {
            <span>
              <a (click)="gotoRoute(part.url)" class="clickable">{{part.breadcrumb | translate}}</a>
            </span>
          } @else {
            <a>{{part.breadcrumb | translate}}</a>
          }
        </li>
      }
    </ul>
  </div>
}
