<h2 mat-dialog-title>
  @if (conf.icon) {
    <mat-icon aria-hidden="true">{{conf.icon}}</mat-icon>
  }
  @if (conf.title) {
    <span>{{conf.title}}</span>
  }
</h2>
<div mat-dialog-content>
  @if (conf.is_html) {
    <span [innerHTML]="conf.message | translate"></span>
  } @else {
    <span>{{conf.message}}</span>
  }
</div>
<div mat-dialog-actions>
  @if (conf.confirmCheckbox) {
    <div class="checkbox-row">
      <span class="checkbox-cell">
        <hlm-checkbox inputId="general-dialog__confirm-checkbox" [checked]="confirmed" (checkedChange)="confirmed = $event" />
      </span>
      <label hlmLabel class="checkbox-label" for="general-dialog__confirm-checkbox">{{ (conf.confirmCheckboxMsg || 'Confirm') | translate }}</label>
    </div>
  }
  <span class="dialog-action-spacer"></span>
  @if (!conf.hideCancel) {
    <button hlmBtn variant="outline" type="button" (click)="dialogRef.close(false)">{{ (conf.cancelBtnMsg || 'Cancel') | translate }}</button>
  }
  <button hlmBtn type="button" [disabled]="isDisabled()" (click)="dialogRef.close(true)">{{ (conf.confirmBtnMsg || 'Close') | translate }}</button>
</div>
