.widget-base-front-layout,
.widget-base-toolbar-layout,
.widget-base-content-layout {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.widget-base-front-layout {
  align-content: stretch;
  align-items: stretch;
  justify-content: space-between;
  max-height: 100%;
}

.widget-base-toolbar-layout,
.widget-base-content-layout {
  align-content: flex-start;
  align-items: flex-start;
  flex: 1 1 100%;
  max-width: 100%;
  min-width: auto;
}

.widget-base-toolbar-layout {
  justify-content: space-between;
}

.widget-base-content-layout {
  justify-content: center;
}

.widget-base-chart-layout {
  box-sizing: border-box;
  display: block;
  flex: 1 1 100%;
}

.widget-base-donut-layout {
  max-width: 30%;
  min-width: 0;
}

.widget-base-line-layout {
  align-self: flex-end;
  max-width: 100%;
  min-width: auto;
}
