<div class="widget">
  <div class="card-container front">
    <div class="fc-card front widget-base-front-layout">
      <div class="fc-card-header mat-card-toolbar widget-base-toolbar-layout">
        <h4 class="mat-card-title-text"><div class="card-title-text">{{title | translate}}</div></h4>
        <!-- the internal development record: the widget menu on the helm dropdown-menu (M1); the trigger a ghost icon. -->
        <button hlmBtn variant="ghost" size="icon" type="button" class="widget-menu-button" [hlmDropdownMenuTrigger]="menu" align="end" [attr.aria-label]="'Widget options' | translate">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <ng-template #menu>
        <hlm-dropdown-menu>
          <button hlmDropdownMenuItem type="button" (triggered)="toggleConfig()">
            <mat-icon aria-hidden="true">settings</mat-icon>
            <span>{{"Configure" | translate}}</span>
          </button>
        </hlm-dropdown-menu>
      </ng-template>
      <div class="fc-card-content widget-base-content-layout">
        <viewchartdonut class="widget-base-chart-layout widget-base-donut-layout" #chartDonut [width]="chartSize" [height]="chartSize" style="display:none;"></viewchartdonut>
        <viewchartline class="widget-base-chart-layout widget-base-line-layout" #chartCpu [width]="chartSize" [height]="chartSize"></viewchartline>
      </div>
    </div>
  </div>
</div>
