<section id="network-summary-page" class="fc-page fc-page--capped" aria-labelledby="network-summary-title">
  <h1 id="network-summary-title" class="fc-page-title">{{ "Network Summary" | translate }}</h1>

  <dl class="fc-network-facts">
    <div>
      <dt>{{ "Default Routes" | translate }}</dt>
      @for (route of default_routes; track route) {
        <dd>{{ route }}</dd>
      } @empty {
        <dd>-</dd>
      }
    </div>
    <div>
      <dt>{{ "Nameservers" | translate }}</dt>
      @if (nameservers.length > 0) {
        @for (server of nameservers; track server) {
          <dd>{{ server }}</dd>
        }
      } @else {
        <dd>{{ "Name servers not configured" | translate }}</dd>
      }
    </div>
  </dl>

  <h2 id="network-summary-interfaces-title">{{ "Interfaces" | translate }}</h2>
  <div class="fc-network-table" tabindex="0" role="region" aria-labelledby="network-summary-interfaces-title">
    <table>
      <caption class="cdk-visually-hidden">{{ "Interfaces" | translate }}</caption>
      <thead>
        <tr>
          <th scope="col">{{ "Name" | translate }}</th>
          <th scope="col">{{ "IPv4 Address" | translate }}</th>
          <th scope="col">{{ "IPv6 Address" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (ip of ips | keyvalue; track ip.key) {
          <tr>
            <td>{{ ip.key }}</td>
            <td>
              @if (ip.value.IPV4) {
                @for (ipv4 of ip.value.IPV4 | keyvalue; track ipv4.key) {
                  <div>{{ ipv4.value }}</div>
                }
              }
            </td>
            <td>
              @if (ip.value.IPV6) {
                @for (ipv6 of ip.value.IPV6 | keyvalue; track ipv6.key) {
                  <div>{{ ipv6.value }}</div>
                }
              }
            </td>
          </tr>
        } @empty {
          <tr class="fc-network-empty">
            <td colspan="3">{{ "None" | translate }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
