@if (!config['isHidden']) {
  <div id="{{config.name}}" class="dynamic-field mat-radio" [formGroup]="group" [ngClass]="fieldShow" [class.has-tooltip]="config.tooltip">
    <div class="top">
      <label>{{ config.placeholder | translate }}</label>
      @if (config.tooltip) {
        <tooltip [header]="config.placeholder" [message]="config.tooltip" [position]="config.tooltipPosition ? config.tooltipPosition : null" [style.margin-left.px]="5"></tooltip>
      }
    </div>
    <!-- the internal development record: the #352 radios on spartan -- one 32px row per option: the ring centred in
         a 32px cell, the label with its 4px lead, the per-option help glyph. -->
    <hlm-radio-group [formControlName]="config.name" [required]="config.required" id="{{config.name}}_radiogroup"
      ix-auto ix-auto-type="radio-group" ix-auto-identifier="{{config.name}}">
      @for (option of config.options; track option) {
        <div class="radio-option-row">
          <span class="radio-cell">
            <hlm-radio [value]="option.value" [inputId]="config.name + '_' + option.value + '_radiobutton'"
              ix-auto
              ix-auto-type="radio"
              ix-auto-identifier="{{config.name}}_{{option.label}}">
              <hlm-radio-indicator indicator />
            </hlm-radio>
          </span>
          <label hlmLabel class="radio-label" [for]="config.name + '_' + option.value + '_radiobutton'">{{ option.label | translate }}</label>
          @if (option.tooltip) {
            <tooltip class="radio-option-tooltip" [header]="config.placeholder" [message]="option.tooltip" [position]="config.tooltipPosition ? config.tooltipPosition : null"></tooltip>
          }
        </div>
      }
    </hlm-radio-group>
    @if (config['hasErrors']) {
      <p class="form-error-line" role="alert" [innerHTML]="config['errors']"></p>
    }
    @if (config.warnings) {
      <p class="form-error-line" role="alert" [innerHTML]="config.warnings | translate"></p>
    }
  </div>
}
