<div id="{{config.name}}" class="dynamic-field form-select {{config.inlineLabel ? 'inline-label' : 'not'}}" [formGroup]="group" [ngClass]="fieldShow" [class.has-tooltip]="config.tooltip" [hidden]="config.isHidden">
  @if (config.inlineLabel) {
    <div class="label half-width">{{config.inlineLabel}}</div>
  }
  <!-- the internal development record: the #351 field on spartan -- label row, the select trigger as the box,
       the #354 panel in a CDK overlay, the reserved subscript. The option loop is written out in
       both branches on purpose: the select finds its items through a content query, which does not
       see views rendered through an ngTemplateOutlet. -->
  <hlm-field [class.full-width]="!config.inlineLabel" [class.half-width]="config.inlineLabel" [forceInvalid]="!!config['hasErrors']">
    @if (config | fieldLabel) {
      <label hlmFieldLabel [for]="inputId">{{ config | fieldLabel | translate }}</label>
    }
    @if (!config.multiple) {
      <hlm-select [formControlName]="config.name" [required]="config.required" [itemToString]="labelOf" (valueChange)="onChangeOption($event)"
        ix-auto ix-auto-type="select" ix-auto-identifier="{{config.placeholder}}">
        <hlm-select-trigger [buttonId]="inputId" [forceInvalid]="!!config['hasErrors']">
          <hlm-select-value [placeholder]="config | fieldPlaceholder | translate" />
          @if (config.isLoading) {
            <hlm-spinner class="form-select-spinner" id="{{config.name}}_form-select-spinner" />
          }
        </hlm-select-trigger>
        <hlm-select-content *hlmSelectPortal>
          @for (option of config.options; track option.value) {
            @if (!option.hiddenFromDisplay) {
              <hlm-select-item [value]="option.value" [disabled]="!!option.disable"
                ix-auto ix-auto-type="option" ix-auto-identifier="{{config.placeholder}}_{{option.label}}">
                {{ option.label | translate }}
              </hlm-select-item>
            }
          }
          @if (!config.options?.length) {
            <hlm-select-item [value]="null" disabled ix-auto ix-auto-type="option" ix-auto-identifier="{{config.placeholder}}_zeroState">
              {{ config.zeroStateMessage ? config.zeroStateMessage : '--' }}
            </hlm-select-item>
          }
        </hlm-select-content>
      </hlm-select>
    } @else {
      <hlm-select-multiple [formControlName]="config.name" [required]="config.required" [itemToString]="labelOf" (valueChange)="onChangeOption($event)"
        ix-auto ix-auto-type="select" ix-auto-identifier="{{config.placeholder}}">
        <hlm-select-trigger [buttonId]="inputId" [forceInvalid]="!!config['hasErrors']">
          <hlm-select-placeholder>{{ config | fieldPlaceholder | translate }}</hlm-select-placeholder>
          <ng-template hlmSelectValues let-values>
            <hlm-select-values-content>{{ labelsOf(values) }}</hlm-select-values-content>
          </ng-template>
          @if (config.isLoading) {
            <hlm-spinner class="form-select-spinner" id="{{config.name}}_form-select-spinner" />
          }
        </hlm-select-trigger>
        <hlm-select-content *hlmSelectPortal>
          @for (option of config.options; track option.value) {
            @if (!option.hiddenFromDisplay) {
              <hlm-select-item [value]="option.value" [disabled]="!!option.disable"
                ix-auto ix-auto-type="option" ix-auto-identifier="{{config.placeholder}}_{{option.label}}">
                {{ option.label | translate }}
              </hlm-select-item>
            }
          }
          @if (!config.options?.length) {
            <hlm-select-item [value]="null" disabled ix-auto ix-auto-type="option" ix-auto-identifier="{{config.placeholder}}_zeroState">
              {{ config.zeroStateMessage ? config.zeroStateMessage : '--' }}
            </hlm-select-item>
          }
        </hlm-select-content>
      </hlm-select-multiple>
    }
    <div class="field-subscript">
      <form-errors [control]="group.controls[config.name]" [config]="config"></form-errors>
      @if (config['hasErrors']) {
        <p class="form-error-line" role="alert" [innerHTML]="config['errors']"></p>
      }
      @if (config.warnings) {
        <p class="form-error-line" role="alert" [innerHTML]="config.warnings | translate"></p>
      }
    </div>
  </hlm-field>
  @if (config.tooltip) {
    <tooltip [header]="config.placeholder" [message]="config.tooltip" [position]="config.tooltipPosition ? config.tooltipPosition : null"></tooltip>
  }
</div>
