<div class="widgets-wrapper-container">

  <div class="widgets-wrapper" tabindex="-1" [attr.aria-label]="'Dashboard widgets' | translate">

    <!-- SORTABLE WIDGETS -->
    @if (screenType == 'Desktop' && statsDataEvents && pools && nics && volumeData && sysinfoReady) {
      @if (dashState) {
        @for (widget of dashState; track widget) {
          @if (widget.rendered) {
            @switch (widget.name.toLowerCase()) {
              @case ('system information') {
                <widget-sysinfo
                  id="active"
                  [isHA]="isHA"
                  [passive]="false"
                  [widgetSize]="medium">
                </widget-sysinfo>
              }
              @case ('system information(standby)') {
                <widget-sysinfo
                  id="passive"
                  [isHA]="isHA"
                  [passive]="true"
                  [widgetSize]="medium">
                </widget-sysinfo>
              }
              @case ('cpu') {
                <widget-cpu
                  [data]="dataFromConfig(widget)"
                  [cpuModel]="systemInformation.model"
                  [widgetSize]="medium"
                  configurable="false">
                </widget-cpu>
              }
              @case ('memory') {
                <widget-memory
                  [ecc]="systemInformation.ecc_memory"
                  [data]="dataFromConfig(widget)"
                  [widgetSize]="medium"
                  configurable="false">
                </widget-memory>
              }
              @case ('pools') {
                <widget-pool
                  [pools]="pools"
                  [volumeData]="volumeData"
                  [widgetSize]="medium"
                  configurable="false">
                </widget-pool>
              }
              @case ('network') {
                <widget-network
                  [nics]="dataFromConfig(widget)"
                  [stats]="statsDataEvents"
                  [widgetSize]="medium"
                  configurable="false">
                </widget-network>
              }
            }
          }
        }
      }
    }

  </div>
</div>

<!-- MOBILE WIDGETS -->
@if (screenType === 'Mobile') {
<div class="mobile-viewport">
    @if (screenType == 'Mobile' && dashState && dashState.length > 0;) {
      <widget-controller [hidden]="activeMobileWidget.length > 0" [attr.inert]="activeMobileWidget.length > 0 ? '' : null" (launcher)="onMobileLaunch($event)"
        [rendered]="true"
        [dashState]="dashState"
        [widgetSize]="medium"
        configurable="false">
      </widget-controller>
    }

    <div class="mobile-widget-container" [hidden]="activeMobileWidget.length === 0">
      @if (screenType == 'Mobile' && statsDataEvents && pools && nics && volumeData && sysinfoReady) {
        @for (widget of activeMobileWidget; track widget) {
          @switch (widget.name.toLowerCase()) {
            @case ('system information') {
              <widget-sysinfo
                (back)="onMobileBack()"
                id="active"
                [isHA]="isHA"
                [passive]="false"
                [widgetSize]="medium">
              </widget-sysinfo>
            }
            @case ('system information(standby)') {
              <widget-sysinfo
                (back)="onMobileBack()"
                id="passive"
                [isHA]="isHA"
                [passive]="true"
                [widgetSize]="medium">
              </widget-sysinfo>
            }
            @case ('cpu') {
              <widget-cpu
                (back)="onMobileBack()"
                [data]="dataFromConfig(widget)"
                [cpuModel]="systemInformation.model"
                [widgetSize]="medium"
                configurable="false">
              </widget-cpu>
            }
            @case ('memory') {
              <widget-memory
                [ecc]="systemInformation.ecc_memory"
                (back)="onMobileBack()"
                [data]="dataFromConfig(widget)"
                [widgetSize]="medium"
                configurable="false">
              </widget-memory>
            }
            @case ('pools') {
              <widget-pool
                (back)="onMobileBack()"
                [pools]="pools"
                [volumeData]="volumeData"
                [widgetSize]="medium"
                configurable="false">
              </widget-pool>
            }
            @case ('network') {
              <widget-network
                (back)="onMobileBack()"
                [nics]="dataFromConfig(widget)"
                [stats]="statsDataEvents"
                [widgetSize]="medium"
                configurable="false">
              </widget-network>
            }
          }
        }
      }

    </div>
</div>
}
