@if (this.totalActions> 0) {
  <div class="entity-add-actions-wrapper" style="display:inline-block; text-align:left;">
    @if (this.totalActions> 1) {
      <button
        hlmBtn [variant]="variant" type="button"
        [hlmDropdownMenuTrigger]="menu"
        class="menu-toggle"
        hlmTooltip="{{ this.menuTriggerMessage | translate}}"
        ix-auto
        ix-auto-type="button"
        ix-auto-identifier="{{entity.conf.title}}_ACTIONS">
        <span>{{"Actions" | translate}} <mat-icon class="menu-caret">expand_more</mat-icon></span>
      </button>
    } @else {
      <!--When there is no route_add -->
      @if (this.entity.conf.route_add) {
        <button
          [disabled]="entity.conf.addBtnDisabled"
          hlmBtn [variant]="variant" type="button"
          (click)="this.entity.doAdd()"
          hlmTooltip="{{this.entity.conf.route_addd_tooltip | translate}}"
          id="add_action_button"
          ix-auto
          ix-auto-type="button"
          ix-auto-identifier="{{entity.conf.title}}_ADD">{{"Add" | translate}}
        </button>
      }
      @if (!this.entity.conf.route_add && this.totalActions== 1) {
        <!-- the internal development record: the id read `action?.label` outside the loop -- always empty. -->
        <button
          id="add_action_button_{{this.actions[0]?.label}}"
          hlmBtn [variant]="variant" type="button"
          (click)="this.actions[0].onClick()"
          hlmTooltip="{{actions[0].label | translate}}"
          ix-auto
          ix-auto-type="button"
          ix-auto-identifier="{{entity.conf.title}}_{{this.actions[0].label}}">
          <span>{{this.actions[0].label | translate }}</span>
          <!-- <span> &nbsp; {{this.actions.length}}</span> -->
        </button>
      }
    }
    <!-- the internal development record: the Actions menu on the helm dropdown-menu (M1). -->
    <ng-template #menu>
      <hlm-dropdown-menu>
        @if (this.entity.conf.route_add) {
          <button hlmDropdownMenuItem type="button"
            [disabled]="entity.conf.addBtnDisabled"
            (triggered)="this.entity.doAdd()"
            id="add_action_button"
            ix-auto
            ix-auto-type="button"
            ix-auto-identifier="{{entity.conf.title}}_ADD">
            <span>{{"Add" | translate }}</span>
          </button>
        }
        @for (action of actions; track action) {
          <button id="add_action_button_{{action?.label}}"
            hlmDropdownMenuItem type="button"
            (triggered)="action.onClick()"
            ix-auto
            ix-auto-type="button"
            ix-auto-identifier="{{entity.conf.title}}_{{action.label}}">
            <span>{{action.label | translate}}</span>
          </button>
        }
      </hlm-dropdown-menu>
    </ng-template>
  </div>
}
