<section class="entity-row-details-layout entity-row-details-summary-layout" [style.padding]="'10px 24px'">
  @for (detail of conf.details; track detail) {
    <div >
      <p>{{ detail.label | uppercase | translate }}</p>
      <h4 class="mb-0">{{ detail.value }}</h4>
    </div>
  }
</section>

@if (conf.actions && conf.actions.length > 0) {
  <hlm-separator class="details-separator" />
  <section class="entity-row-details-layout entity-row-details-actions-layout" [style.padding]="'0 24px'">
    @for (action of conf.actions; track action) {
      @if (isActionVisible(action)) {
        <button
          class="entity-row-details-action-layout"
          hlmBtn variant="ghost"
          type="button"
          (click)="action.onClick(conf.config)"
          id="{{ conf.entityName }}_{{ action.name }}_{{ action.id }}"
          >
          <mat-icon class="mr-1">{{ action.icon }}</mat-icon>
          <span>{{ action.label | translate }}</span>
        </button>
      }
    }
  </section>
}
